body {
    max-width: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f4f4f4;
}

.header {
    max-width: 1326px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin: 0 auto;
}

.header_logo .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: blue;
}

.logo-img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 20px;
}