.mypage-container {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.favorite-section h2 {
    font-size: 24px;
    margin: 0 0 39px 0;
}

.mypage-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reservation-section,
.favorite-section {
    width: 45%;
}

.reservation-section {
    transform: translate(0%, 8%);
}

.reservation-card {
    background: #2f62f9;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.reservation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.close-btn {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.favorite-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.favorite-card {
    width: 300px;
    height: 285px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.favorite-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-weight: bold;
    margin: 0 0 5px 0;
}

.card-tags {
    font-size: 14px;
    color: #666;
    margin: 0 0px 10px 0;
}

.btn {
    display: inline-block;
    background: #2f62f9;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
}

.like-form {
    text-align: end;
    margin: 0;
}

.like-btn {
    transform: translate(0%, -110%);
    background: transparent;
    border: none;
    font-size: 35px;
    color: #e9e9e9a8;
    cursor: pointer;
}

.like-btn.liked {
    color: red;
}

.shop-name {
    margin-right: 60px;
}

.shop-date {
    margin-right: 65px;
}

.shop-time {
    margin-right: 62px;
}

.shop-number {
    margin-right: 38px;
}