.restaurant-detail,
.components {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
}

.container h2 {
    text-align: end;
    max-width: 1200px;
    margin-right: 42%;
}

.components {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
}

.component-2 {
    margin-right: 40%;
}

.restaurant-detail .left-content {
    width: 40%;
    height: auto;
    background-color: #3366ff;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.restaurant-detail .right-content {
    width: 55%;
    height: auto;
}

.left-content p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.reservation-card {
    display: flex;
}

.shop {
    display: flex;
}

.shop-name {
    margin-right: 50px;
}

.shop-date {
    margin-right: 54px;
}

.shop-time {
    margin-right: 51px;
}

.shop-number {
    margin-right: 28px;
}

.right-content {
    display: flex;
    max-width: 1280px;
    background-color: #f4f4f4;
}

.favorites {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: none;
    height: 100%;
}

.card {
    width: 300px;
    height: 330px;
    background: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 299px;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.card-body {
    width: 300px;
    height: 130px;
}

.card-body_area-genre {
    padding: 5px 10px;
    margin: 0 10px 10px 0;
}

.card-body_name {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
}

.btn {
    text-decoration: none;
    padding: 5px 12px;
    color: white;
    border-radius: 5px;
    background-color: #007bff;
}

.btn-a {
    margin: 0;
    padding: 5px 10px;
}

.like-form {
    width: 50px;
    height: 50px;
    transform: translate(485%, -95%);
    cursor: pointer;
}

.btn-submit {
    width: 30px;
    height: 30px;
    font-size: 50px;
    border: none;
    background-color: white;
    cursor: pointer;
}